@model IEnumerable<Art_Gallery.Areas.Identity.Data.Art_GalleryUser>


@{
    ViewData["Title"] = "All Customers";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>All Customers</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.age)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(model => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(model => item.gender)
                </td>
                <td>
                    @Html.DisplayFor(model => item.address)
                </td>
                <td>
                    @Html.DisplayFor(model => item.age)
                </td>
                <td>
                    <a asp-action="EditCustomers" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="DeleteLogic" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

